.main {
    max-width: 112rem;
    max-height: 68.8rem;
    overflow: overlay;
    scroll-behavior: smooth;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    border: 1px solid var(--border-color);
}