.favorites {
    width: 100%;
    border-collapse: collapse;
    thead {
        tr {
            background-color: var(--bg-header-table);
            color: var(--fc-primary);
            font-size: 2rem;
            font-weight: 700;
            text-align: left;
            height: 6.4rem;
            th {
                text-align: left;
                padding: 1.6rem 0 1.6rem 4rem;
                font-size: 2rem;
                font-weight: 700;
                &:first-child {
                    width: max(20vw, 500px); 
                }
                td {
                    margin: 1.6rem 0 1.6rem 4rem;
                    height: 10.4rem;
                }
            }
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background-color: var(--bg-dark-row);
            }
            &:nth-child(even) {
                background-color: var(--bg-light-row);
            }
            td{
                color: var(--fc-primary);
                padding: 1.6rem 0 1.6rem 4rem;
                height: 10.4rem;
                font-size: 2rem;
                font-weight: 700;
            }
            .user {
                display: flex;
                align-items: center;
                gap: 1.6rem;
                color: var(--fc-primary);
                img {
                    width: 5.6rem;
                    height: 5.6rem;
                    border-radius: 50%;
                }
                &-link--light {
                    font-weight: 400;
                    color: var(--fc-link-light);
                }
            }
            .action {
                &-remove {
                    border: none;
                    background: none;
                    color: var(--fc-secondary);
                    font-size: 2rem;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
        .favorites--noborder {
            border-top: none;
        }
    }
    .no-favorites {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 58.4rem;
        gap: 6rem;
        img {
            width: 13.2rem;
        }
        span {
            font-weight: 700;
            font-size: 40px;
            line-height: 25px;
            display: flex;
            align-items: flex-end;
            color: #4E5455;
        }
    }
    .hide {
        display: none;
    }
}